@media only screen and (max-width:661px) {
     
    /** Info **/
    .info{
        width: 100%;
        padding:0 20px;
    }
    .info .left-info{
        width: 100%;
        display: block;
        border-bottom:1px solid #000;
    }
    .info .left-info figure{
        width: 100% !important;
    }
    .info .left-info .info-text{
        width: 100% !important;
        padding-left:0px;
        margin:30px 0px;
        text-align:center;
    }
    .info .left-info .info-text p{
        font-size: 17px !important;
        line-height: 40px !important;
    }

    .info .right-info{
        width: 100%;
        display: block;
        border-top:1px solid #000;
    }
    .info .right-info figure{
        width: 100% !important;
    }
    .info .right-info .info-text{
        width: 100% !important;
        padding-left:0px;
        margin:30px 0px;
        text-align:center;
    }
    .info .right-info .info-text p{
        font-size: 17px !important;
        line-height: 40px !important;
    }

    /** Testimonies **/
    .testimonies-section{
        width: 100%;
        padding:0px 20px;
    }
    .testimonies .txt-people{
        width: 100%;
        padding:20px;
    }
    .testimonies .txt-people h3{
        font-size: 20px;
        margin-bottom:20px;
        font-weight:600;
    }
    
    /** footer **/
    footer{
        padding: 10px;
    }
    footer p{
        font-size: 17px !important;
    }

}