@media only screen and (max-width:805px) {
    
    /** Navegation **/
    .menu{
        position: fixed;
        width: 100%;
        background: #000;
    }
    .menu .btn-menu{
        display: block;
        position: absolute;
        right: 30px;
    }
    .menu .btn-menu img{
        width:40px;
        height: 50px;
        object-fit: cover;
        cursor: pointer;
    }
    .menu .logo-box .logo{
        font-size: 35px;
        color:#fff;
    }
    .menu .list-container{
        position: fixed;
        top:60px;
        left: -100%;
        width: 100%;
        height: calc(100vh - 60px);
    }
    .menu .list-container .lists{
        width: 90%;
        display: block;
    }
    .menu .list-container .lists li{
        border-bottom: 2px solid #000;
        display: flex;
        justify-content: center;
    }
    .menu .list-container .lists li a{
        margin:10px 0px;
        font-size: 20px;
    }

    /** Info **/
    .info .left-info figure{width: 50%;}
    .info .left-info .info-text{width: 50%;}
    .info .left-info .info-text p{
        font-size: 19px;
        line-height: 48px;
    }

    .info .right-info figure{width: 50%;}
    .info .right-info .info-text{width: 50%;}
    .info .right-info .info-text p{
        font-size: 19px;
        line-height: 48px;
    }

    /** Testimonies **/
    .testimonies .img-people{
        width: 150px;
        height: 150px;
    }
    .testimonies .txt-people{
        width: 100%;
        padding:20px;
    }
    .testimonies .txt-people h3{
        font-size: 20px;
    }
    .testimonies .txt-people p{
        font-size: 17px;
        line-height: 35px;
    }

    /** footer **/
    footer p{
        font-size: 18px;
    }

}